/* src/styles/IconList.module.css */

.iconListContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    align-items: center; /* Align icons vertically in the middle */
  }

.inputContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input {
    padding: 5px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    flex: 1;
  }
  
  .addButton {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .addButton:hover {
    background-color: #005bb5;
  }
  
  
.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.iconBox:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 2rem;
}
  